@use '~layout' as layout;

.mod-page {
    @include layout.flex(false, true);
    @include layout.fullsize;

    overflow: hidden;

    .forms {
        @include layout.flex-between(true);

        padding: 10px;
    }

    .lists {
        @include layout.flex-between;
        @include layout.fullsize;

        overflow: hidden;

        .content-list-wrapper {
            .heading {
                @include layout.flex-center(true);
            }

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    .downloaders {
        @include layout.flex-between(true);

        padding: 10px;
    }
}