@use '~layout' as layout;

.page-main.mods {
    .nav {
        @include layout.flex-start(true);

        padding: 2px 10px;

        >span {
            margin-right: 10px;
        }

        >a {
            &:not(:first-child) {
                margin-left: 10px;
            }

            &.active {
                .btn {
                    text-decoration: underline;
                }
            }
        }
    }

    .mods-panel {
        @include layout.flex-center(true, true);
        @include layout.fullsize;

        .heading {
            margin-bottom: 10px;
        }

        .panel {
            @include layout.flex-center(true);
        }
    }
}